@font-face {
    font-family: 'manrope'; /*font 이름*/
    font-style: 'normal'; /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400; /* font 굵기 정의 */
    /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
    src: url('./fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'notosanskr'; /*font 이름*/
    font-style: 'normal'; /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400; /* font 굵기 정의 */
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf');
}

body {
    font-family: manrope,notosanskr;
    background-color: rgb(247, 224, 215);
    margin: 0px;
}

.main-navitem {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-weight: 700;
}

.main-navlogo {
    height: 55px;
    width: 135px;
    border: 1px solid blue;
}

.main-navbar {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-nav-menu {
    display: none;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    margin: 0;
}

.main-nav-menu li {
    width: 100%;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.main-nav-menu li:hover {
    background-color: rgb(231, 172, 23);
    color: #FFF;
}

.main-nav-menuitems {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.main-navbar-toggle {
    display: none;
    text-decoration: none;
    color: rgb(32, 32, 32);
}

@media screen and (max-width: 700px) {

    .main-navitem {
        display: none;
    }

    .main-navbar-toggle {
        display: block;
    }

    .main-nav-menu.active {
        display: flex;
    }
}


.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid blue;
    height: 600px;
}

.main-container-item {
    font-size: 20px;
    color: rgb(32, 32, 32);
    font-weight: 600;
    border: 1px solid blue;
    margin: 5px;
}

.main-banner {
    background-color: #FFF;
    border: 1px solid blue;
}

.main-padding-div {
    height: 100px;
    width: 317px;
}

.main-card {
    display: flex;
    border: 1px solid blue;
    align-items: center;
    margin: 100px;
}

.main-card-product {
    width: 500px;
    height: 500px;
}

.main-card__body {
    margin: 30px;
    border: 1px solid blue;
}

.main-footer {
    border: 1px solid blue;
    height: 280px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    color: rgb(32, 32, 32);
}
.main-footer-item {
    font-size: 13px;
    padding: 0 20px 0 20px;
}

.main-footer-position {
    margin-left: 18px;
}


.main-footer-line {
    height: 40px;
}
