@font-face {
    font-family: 'manrope'; /*font 이름*/
    font-style: 'normal'; /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400; /* font 굵기 정의 */
    /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
    src: url('./fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'notosanskr'; /*font 이름*/
    font-style: 'normal'; /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400; /* font 굵기 정의 */
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf');
}

body {
    font-family: manrope,notosanskr;
    background-color: rgb(247, 224, 215);
    margin: 0px;
}

.main-navitem {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-weight: 700;
}

.main-navlogo {
    height: 55px;
    width: 135px;
    /* border: 1px solid blue; */
}

.main-navbar {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.main-footer {
    /* border: 1px solid blue; */
    height: 280px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    color: rgb(32, 32, 32);
}
.main-footer-item {
    font-size: 13px;
    padding: 0 20px 0 20px;
}

.main-footer-position {
    margin-left: 18px;
}

/* 
.main-footer-line {
    height: 40px;
} */




/* 로그인 웹 */
.login-main{
    max-width:100%;
    width:100%;
    height:50rem;
    background-size: cover;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction:column;
    /* position: relative; */
}
.login-name{
    font-size: 4em;
    font-weight: 700;
    top:0.8em;
    margin-bottom: 1em;
    position: relative;
    
}

.login-container{
    /* height:70rem; */
    padding-top:0.4em ;
    max-width:42rem;
    width:99%;
}

.login-input{
    height:50px;
    width:100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    /* color: mistyrose; */
    /* box-sizing: border-box; */
    &:focus {
        outline: none;    
      }
    /* &::-webkit-input-placeholder{
        color:darkgray;
        font-weight: 700;
    }
    &:focus::-webkit-input-placeholder{
        color:rgb(62,62,62);
    } */

    &:focus ~ .label, &:valid ~ .label {
        font-size: 16px;
        bottom: 40px;
        color: #666;
        font-weight: bold;
        }
        
    &:focus ~ .span, &:valid ~ .span {
        width: 100%;
        }

    
}
.div {
    position: relative;
    margin-top:10px;
    }
    
.label {
    position: absolute;
    color: #aaa;
    left: 0px;
    font-size: 15px;
    bottom: 8px;
    transition: all .2s;
    }
.span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;  
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
    }
    
/* .login-input:focus ~ .label, .login-input:valid ~ label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
    }
    
.login-input:focus ~ .span, .login-input:valid ~ .span {
    width: 100%;
    } */

.login-button{
    width: 94%;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    /* font-size: 0.625rem; */
    letter-spacing: 0.3em;
    color: rgba(108, 108, 108, 0.7);
    border-radius: 0;
    padding: 18px 80px 20px;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(255, 243, 239, 0.8), rgba(253, 233, 226, 0.938), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(108, 108, 108, 0.7);
  

    &:hover {
        color: rgba(86, 85, 85, 0.7);
        border: 1px solid rgba(223,190,106,0);
        /* color: $white; */
        background-position: 99% 50%;
        font-weight: 700;
        font-size:0.8rem;
      }



    
}
.login-a{
    text-decoration: none;

    &:hover{
        font-weight: 700;
    }
}

.-find{
    font-size:15px;
    color:#888;
}
.login-sign-up{
    float:right;
    font-size:15px;
    color:#222; 
}

.login-hr{
    margin:30px 0;
}

/* 로그인 모바일 */
.login-main-app{
    max-width:100%;
    max-height:90%;
    width:100%;
    height:40rem;
    background-size: cover;
    background-color: white;
    display: none;
    align-items: center;
    flex-direction:column;


    

}

.login-name-app{
    display: flex;
    justify-content: center;
}

.login-button-app{
    width: 93%;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.3em;
    color: rgba(108, 108, 108, 0.7);
    border-radius: 0;
    background: linear-gradient(270deg, rgba(255, 234, 227, 0.8), rgba(255, 215, 201, 0.938), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(108, 108, 108, 0.7);
  

    &:focus {
        color: rgba(86, 85, 85, 0.7);
        border: 1px solid rgba(223,190,106,0);
        /* color: $white; */
        background-position: 99% 50%;
        font-weight: 700;
        font-size:0.8rem;
      }


}
.login-button-app div{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.login-center{
    display: flex;
    justify-content: space-around;
}
.login-download{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2.5em;
}

@media screen and (max-width: 685px) {

    .main-navitem {
        display: none;
    }

    .main-navbar-toggle_button {
        display: block;
    }

    .main-nav-menu.active {
        display: flex;
    }

}

@media screen and (max-width:768px){
    .login-input{
        width:98%;
    }
}

@media screen and (max-width:450px){
    .login-main{
        display: none;
    }
    .login-main-app{
        display: block;
        height:40rem;

    }
    .login-input{
        width:95%;
    }
    .login-hr{
        margin:10px 0;
    }
}
@media screen and (max-width:320px){
    .login-download{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top:0.5em;
    }
}