@font-face {
    font-family: 'manrope'; /*font 이름*/
    font-style: 'normal'; /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400; /* font 굵기 정의 */
    /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
    src: url('./fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'notosanskr'; /*font 이름*/
    font-style: 'normal'; /* font 스타일 정의 (기울임, 일반) */
    font-weight: 400; /* font 굵기 정의 */
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf');
}

body {
    font-family: manrope,notosanskr;
    background-color: rgb(247, 224, 215);
    margin: 0px;
}

.main-navitem {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-weight: 700;
}

.main-navlogo {
    height: 55px;
    width: 135px;
}

.main-navbar {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-nav-menu {
    display: none;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    margin: 0;
}

.main-nav-menu > li {
    width: 100%;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.main-nav-menu li:hover {
    background-color: rgb(231, 172, 23);
    color: #FFF;
}

.main-nav-menuitems {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.main-navbar-toggle {
    display: none;
    text-decoration: none;
    color: rgb(32, 32, 32);
}

@media screen and (max-width: 700px) {

    .main-navitem {
        display: none;
    }

    .main-navbar-toggle {
        display: block;
    }

    .main-nav-menu.active {
        display: flex;
    }
}


.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 224, 215);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 600px;
}

.main-container-item {
    font-size: 20px;
    color: rgb(32, 32, 32);
    font-weight: 600;
    margin: 5px;
}

.main-banner {
    background-color: #FFF;
}

.main-padding-div {
    height: 100px;
    width: 317px;
}

.main-slide {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;

    width: 100%;
}

.main-card {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 100px;
    position: relative;
    left: 0px;
    flex-shrink: 0;
    transition: left 0.15s;
}

.main-card_textbox {
    background-color: #ffffff57;
    padding: 30px;
}

.main-cardtitle {
    color: rgba(151, 148, 148, 0.959);
    margin: 0 0 20px 0;
    font-weight: 600;
}

.main-card_info {
    margin: 20px 0 0 0; 
}

.main-card-product {
    width: 500px;
    height: 500px;
}

.main-card__body {
    margin: 30px;
    border: 1px solid rgb(32, 32, 32);
}

.slide_prev_button {
    left: 30px;
  }

.slide_next_button {
    right: 30px;
  }
  
.slide_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 16px);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
}

.main-page_ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-page_li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  display: flex;
  gap: 5px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  color: #ff7f7f88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  color: #ff927f;
}


.main-footer {
    height: 280px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    color: rgb(32, 32, 32);
}
.main-footer-item {
    font-size: 13px;
    padding: 0 20px 0 20px;
}

.main-footer-position {
    margin-left: 18px;
}

.main-footer-line {
    height: 40px;
}


.img1{
    display: inline-block;
    position: absolute;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
}

.box{

    font-size: 30px;
    display: inline-block;
}

.box-1{
    font-size: 20PX;   
    display: inline-block;
    flex: 0 0 auto;
}

@media screen and (max-width:48rem){
    .box{
      text-align: center;
    }
  }
  
  .floating-text {
    font-size: 24px;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease;
  }
  
  .floating-text:hover {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 685px) {

    .main-navitem {
        display: none;
    }

    .main-navbar-toggle_button {
        display: block;
    }

    .main-nav-menu.active {
        display: flex;
    }

}

  color: rgb(32, 32, 32);

